<!-- <plugin root>/src/Resources/app/administration/src/sw-dashboard-index-override/sw-dashboard-index.html.twig -->
{% block sw_dashboard_index_content_intro_content_headline %}
	<h1>
		{{ quote }}
	</h1>
	{% parent %}
{% endblock %}
